<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <th:block class="nav" th:insert="menu.html::menu_nav">
    </th:block>

<!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->

</head>

<body>
<div class="container">
    <h1>Register</h1>
    <div class="form">
        <form th:action="@{/register}" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <label for="emailAddress">Email</label>
            <input type="email" id="emailAddress" name="emailAddress" required>

            <button type="submit" class="btn btn-default"  value="Register">Register</button>
            <p>Already registered?
                <a th:href="@{/}">Login</a>
            </p>

        </form>
    </div>
</div>
</body>
</html>
© 2020 GitHub, Inc.