<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <title>Chat Rooms</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <th:block class="nav" th:insert="menu.html::menu_nav">
    </th:block>

</head>
<body>
<div class="list-view">
    <h3>Chat Rooms</h3>
    <table>
        <thead>
        <tr>
            <td>
                Chatroom ID
            </td>
            <td>
                Chat Room Name
            </td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${chatrooms}">
            <td th:text="${c.chatRoomId}"></td>
            <td th:text="${c.queueName}"></td>
            <td>
                <a th:href="@{'/websocket/' + ${c.chatRoomId}}">Connect</a>
                <a th:href="@{/editchatroom/{id}(id = ${c.chatRoomId})}">Edit</a>
                <a th:href="@{/deletechatroom/{id}(id = ${c.chatRoomId})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <br>
    <a th:href="@{/createchatrooms}">Create Chat Room</a>
</div>

</body>
</html>