<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <title>Buhai Communications</title>
</head>
<body>
<div class="list-view">
    <h3>Chat Rooms</h3>
    <table>
        <thead>
        <tr>
            <td>
                Chatroom ID
            </td>
            <td>
                Queue Name
            </td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="c : ${chatrooms}">
            <td th:text="${c.chatRoomId}"></td>
            <td th:text="${c.queueName}"></td>
            <td>
                <a th:href="@{'/websocket/' + ${c.chatRoomId}}">Connect!</a>
                <a th:href="@{/editchatroom/{id}(id = ${c.chatRoomId})}">Edit!</a>
                <a th:href="@{/deletechatroom/{id}(id = ${c.chatRoomId})}">Delete!</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <br>
    <a th:href="@{/createchatrooms}">Create Chat Room</a>
</div>

</body>
</html>