<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <nav th:insert="menu.html::menu_nav">
    </nav>

    <script>
        $(document).ready(function() {
            $('select').formSelect();
        });
    </script>
</head>
<body>
<form th:action="@{/editchatroom/{id}(id=${chatRoom.chatRoomId})}" th:object="${chatRoom}" method="post">
    <h1>Edit Chat Room Name</h1>

    <input th:field="*{chatRoomId}" type="hidden">
    <label for="queue_name">Chat Room Name</label>
    <input th:field="*{queueName}" id="queue_name" type="text" placeholder="Chat Room Name" required>

    <button type="submit">Save</button>

</form>

</body>
</html>