<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit Chat Room</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->


    <th:block class="nav" th:insert="menu.html::menu_nav">
    </th:block>
    <script>
        $(document).ready(function() {
            $('select').formSelect();
        });
    </script>
</head>
<body>
<form th:action="@{/editchatroom/{id}(id=${chatRoom.chatRoomId})}" th:object="${chatRoom}" method="post">
    <h1>Edit Chat Room Name</h1>

    <input th:field="*{chatRoomId}" type="hidden">
    <label for="queue_name">Chat Room Name</label>
    <input th:field="*{queueName}" id="queue_name" type="text" placeholder="Chat Room Name" required>

    <button type="submit">Save</button>

</form>

</body>
</html>