<nav th:fragment="menu_nav" xmlns:th="http://www.thymeleaf.org">
    <div class="nav-wrapper">
        <a class="right" th:href="@{/logout}">Logout</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/home}">Register & Log in</a></li>
            <li><a th:href="@{/chatrooms}">View Chat Rooms</a></li>
        </ul>
    </div>
</nav>

<script th:fragment="nav_script" xmlns:th="http://www.thymeleaf.org" >
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>