<!--&lt;!&ndash; Compiled and minified CSS &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
<!--<link rel="stylesheet" th:href="@{/css/main.css}" xmlns:th="http://www.thymeleaf.org"/>-->

<!--<nav th:fragment="menu_nav" class="navbar" xmlns:th="http://www.thymeleaf.org">-->
<!--    <div class="nav-wrapper">-->
<!--        <a class="right" th:href="@{/logout}">Logout</a>-->
<!--        <ul id="nav-mobile" class="right hide-on-med-and-down">-->
<!--            <li><a th:href="@{/}">Register & Log in</a></li>-->
<!--            <li><a th:href="@{/chatrooms}">View Chat Rooms</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->

